mixin video(v)
     div.video-mixin 
        div.video-mixin__thumb(style=`background-image: url(${"/" + v.thumbUrl})`)
            a(href=`/videos/${v.id}`)
        a(href=`/videos/${v.id}`).video-mixin__title=v.title 
        ul.video-mixin__hashtags
            each tag in v.hashtags
                li=tag
        div.video-mixin__meta
            span #{v.meta.views} views •  
            span #{v.owner.name}