mixin video(v)
     div 
        h4=v.title 
        ul 
            li #{v.rating} / 5.0.
            li #{v.comments} comments.
            li Posted #{v.createdAt}.
            li #{v.views} Views.